
[data-theme-light=light-1] {
    --egds-primary: #191e3b;
    --egds-secondary: #1668e3;
    --egds-tertiary: #4d5167;
    --egds-surface: #fff;
    --egds-surface-low-elevation: #fff;
    --egds-surface-medium-elevation: #fff;
    --egds-surface-high-elevation: #fff;
    --egds-surface-container: #dfe0e4;
    --egds-surface-container-variant: #f7f7f8;
    --egds-on-surface: #191e3b;
    --egds-on-surface-variant: #676a7d;
    --egds-inverse-surface: #0c0e1c;
    --egds-inverse-on-surface: #fff;
    --egds-overlay: #191e3b;
    --egds-on-overlay: #fff;
    --egds-outline: #818494;
    --egds-outline-variant: #dfe0e4;
    --egds-outline-focus: #1668e3;
    --egds-critical: #a7183c;
    --egds-on-critical: #fff;
    --egds-critical-container: #fed5d8;
    --egds-on-critical-container: #a7183c;
    --egds-positive: #227950;
    --egds-on-positive: #fff;
    --egds-positive-container: #beecc6;
    --egds-on-positive-container: #105d4a;
    --egds-info: #006ed6;
    --egds-on-info: #fff;
    --egds-info-container: #dfe0e4;
    --egds-on-info-container: #006ed6;
    --egds-featured: #f2d972;
    --egds-on-featured: #0c0e1c;
    --egds-featured-container: #e4ebd5;
    --egds-on-featured-container: #4d6f4d;
    --egds-shadow: #0c0e1c;
    --egds-scrim: #0c0e1c;
    --egds-bottom-scrim: linear-gradient(180deg, rgba(12, 14, 28, 0) 1rem, rgba(12, 14, 28, .11) 2rem, rgba(12, 14, 28, .32) 3.1rem, rgba(12, 14, 28, .5) 4.625rem);
    --egds-button-scrim: linear-gradient(0deg, hsla(0, 0%, 100%, .75) 88%, transparent);
    --egds-secondary-opacity-xx-low: rgba(22, 104, 227, .16);
    --egds-surface-opacity-mid: hsla(0, 0%, 100%, .5);
    --egds-surface-opacity-none: hsla(0, 0%, 100%, 0)
}