:root {
    background-color: #f7f7f8;
    cursor: default;
    font-family: FreightSansLF Pro, Noto Sans JP, Noto Sans KR, Helvetica Neue, Helvetica, Arial, Lucida Grande, Segoe UI, Tahoma, -apple-system, Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%
}

body {
    --egds-legacy-background-color: #f7f7f8;
    background-color: var(--egds-surface-container-variant, var(--egds-legacy-background-color));
    color: var(--egds-on-surface, unset)
}


[data-theme-light=light-1] {
    --egds-primary: #191e3b;
    --egds-primary-variant: #676a7d;
    --egds-on-primary: #fff;
    --egds-primary-container: #c8dff9;
    --egds-primary-container-variant: #ebf5ff;
    --egds-on-primary-container: #0d4eaf;
    --egds-secondary: #1668e3;
    --egds-on-secondary: #fff;
    --egds-secondary-container: #c8dff9;
    --egds-secondary-container-variant: #ecf4fd;
    --egds-on-secondary-container: #0d4eaf;
    --egds-tertiary: #4d5167;
    --egds-on-tertiary: #fff;
    --egds-tertiary-container: #aed1f3;
    --egds-tertiary-container-variant: #f7f7f8;
    --egds-on-tertiary-container: #4d5167;
    --egds-surface: #fff;
    --egds-surface-low-elevation: #fff;
    --egds-surface-medium-elevation: #fff;
    --egds-surface-high-elevation: #fff;
    --egds-surface-container: #dfe0e4;
    --egds-surface-container-variant: #f7f7f8;
    --egds-on-surface: #191e3b;
    --egds-on-surface-variant: #676a7d;
    --egds-inverse-surface: #0c0e1c;
    --egds-inverse-on-surface: #fff;
    --egds-overlay: #191e3b;
    --egds-on-overlay: #fff;
    --egds-outline: #818494;
    --egds-outline-variant: #dfe0e4;
    --egds-outline-focus: #1668e3;
    --egds-critical: #a7183c;
    --egds-on-critical: #fff;
    --egds-critical-container: #fed5d8;
    --egds-on-critical-container: #a7183c;
    --egds-positive: #227950;
    --egds-on-positive: #fff;
    --egds-positive-container: #beecc6;
    --egds-on-positive-container: #105d4a;
    --egds-info: #006ed6;
    --egds-on-info: #fff;
    --egds-info-container: #dfe0e4;
    --egds-on-info-container: #006ed6;
    --egds-featured: #f2d972;
    --egds-on-featured: #0c0e1c;
    --egds-featured-container: #e4ebd5;
    --egds-on-featured-container: #4d6f4d;
    --egds-shadow: #0c0e1c;
    --egds-scrim: #0c0e1c;
    --egds-bottom-scrim: linear-gradient(180deg, rgba(12, 14, 28, 0) 1rem, rgba(12, 14, 28, .11) 2rem, rgba(12, 14, 28, .32) 3.1rem, rgba(12, 14, 28, .5) 4.625rem);
    --egds-button-scrim: linear-gradient(0deg, hsla(0, 0%, 100%, .75) 88%, transparent);
    --egds-secondary-opacity-xx-low: rgba(22, 104, 227, .16);
    --egds-surface-opacity-mid: hsla(0, 0%, 100%, .5);
    --egds-surface-opacity-none: hsla(0, 0%, 100%, 0)
}

[data-theme-light=dark-1] {
    --egds-primary: #649df2;
    --egds-primary-variant: #a6c9f7;
    --egds-on-primary: #191e3b;
    --egds-primary-container: #0e3672;
    --egds-primary-container-variant: #23272b;
    --egds-on-primary-container: #80b2f4;
    --egds-secondary: #649df2;
    --egds-on-secondary: #191e3b;
    --egds-secondary-container: #0d4eaf;
    --egds-secondary-container-variant: #0e3672;
    --egds-on-secondary-container: #a6c9f7;
    --egds-tertiary: #caccd2;
    --egds-on-tertiary: #191e3b;
    --egds-tertiary-container: #0d4eaf;
    --egds-tertiary-container-variant: #191e3b;
    --egds-on-tertiary-container: #caccd2;
    --egds-surface: #0c0e1c;
    --egds-surface-low-elevation: #0c0e1c;
    --egds-surface-medium-elevation: #191e3b;
    --egds-surface-high-elevation: #191e3b;
    --egds-surface-container: #31374f;
    --egds-surface-container-variant: #191e3b;
    --egds-on-surface: #fff;
    --egds-on-surface-variant: #999ca8;
    --egds-inverse-surface: #dfe0e4;
    --egds-inverse-on-surface: #191e3b;
    --egds-overlay: #191e3b;
    --egds-on-overlay: #fff;
    --egds-outline: #999ca8;
    --egds-outline-variant: #676a7d;
    --egds-outline-focus: #3d84f0;
    --egds-critical: #f55669;
    --egds-on-critical: #191e3b;
    --egds-critical-container: #420e1b;
    --egds-on-critical-container: #f55669;
    --egds-positive: #57ca61;
    --egds-on-positive: #191e3b;
    --egds-positive-container: #022623;
    --egds-on-positive-container: #57ca61;
    --egds-info: #b1b3bd;
    --egds-on-info: #191e3b;
    --egds-info-container: #191e3b;
    --egds-on-info-container: #80b2f4;
    --egds-featured: #a5c99a;
    --egds-on-featured: #191e3b;
    --egds-featured-container: #191e3b;
    --egds-on-featured-container: #caccd2;
    --egds-shadow: #0c0e1c;
    --egds-scrim: #0c0e1c;
    --egds-bottom-scrim: linear-gradient(180deg, rgba(12, 14, 28, 0) 1rem, rgba(12, 14, 28, .11) 2rem, rgba(12, 14, 28, .32) 3.1rem, rgba(12, 14, 28, .5) 4.625rem);
    --egds-button-scrim: linear-gradient(0deg, rgba(12, 14, 28, .75) 88%, transparent);
    --egds-secondary-opacity-xx-low: rgba(100, 157, 242, .16);
    --egds-surface-opacity-mid: rgba(12, 14, 28, .5);
    --egds-surface-opacity-none: rgba(12, 14, 28, 0)
}

[data-theme-light=bright-1] {
    --egds-primary: #fff;
    --egds-primary-variant: #7dbdfa;
    --egds-on-primary: #0c0e1c;
    --egds-primary-container: #004b91;
    --egds-primary-container-variant: #0060ba;
    --egds-on-primary-container: #fff;
    --egds-secondary: #fff;
    --egds-on-secondary: #0c0e1c;
    --egds-secondary-container: #004b91;
    --egds-secondary-container-variant: #0060ba;
    --egds-on-secondary-container: #fff;
    --egds-tertiary: #fff;
    --egds-on-tertiary: #0c0e1c;
    --egds-tertiary-container: #004b91;
    --egds-tertiary-container-variant: #0060ba;
    --egds-on-tertiary-container: #fff;
    --egds-surface: #006ed6;
    --egds-surface-low-elevation: #006ed6;
    --egds-surface-medium-elevation: #006ed6;
    --egds-surface-high-elevation: #006ed6;
    --egds-surface-container: #004b91;
    --egds-surface-container-variant: #0060ba;
    --egds-on-surface: #fff;
    --egds-on-surface-variant: #fff;
    --egds-inverse-surface: #0c0e1c;
    --egds-inverse-on-surface: #fff;
    --egds-overlay: #0c0e1c;
    --egds-on-overlay: #fff;
    --egds-outline: #fff;
    --egds-outline-variant: #5ca3e5;
    --egds-outline-focus: #a6c9f7;
    --egds-critical: #fff;
    --egds-on-critical: #a7183c;
    --egds-critical-container: #6c172c;
    --egds-on-critical-container: #fc8d96;
    --egds-positive: #fff;
    --egds-on-positive: #105d4a;
    --egds-positive-container: #043f3b;
    --egds-on-positive-container: #57ca61;
    --egds-info: #fff;
    --egds-on-info: #676a7d;
    --egds-info-container: #191e3b;
    --egds-on-info-container: #b1b3bd;
    --egds-featured: #fff;
    --egds-on-featured: #4d6f4d;
    --egds-featured-container: #31374f;
    --egds-on-featured-container: #a5c99a;
    --egds-shadow: #0c0e1c;
    --egds-scrim: #0c0e1c;
    --egds-bottom-scrim: linear-gradient(180deg, rgba(12, 14, 28, 0) 1rem, rgba(12, 14, 28, .11) 2rem, rgba(12, 14, 28, .32) 3.1rem, rgba(12, 14, 28, .5) 4.625rem);
    --egds-button-scrim: linear-gradient(0deg, rgba(0, 110, 214, .75) 88%, transparent);
    --egds-secondary-opacity-xx-low: hsla(0, 0%, 100%, .16);
    --egds-surface-opacity-mid: rgba(0, 110, 214, .5);
    --egds-surface-opacity-none: rgba(0, 110, 214, 0)
}
